@model RzrSite.Admin.ViewModels.Files.AddViewModel

<form action="/Files/Add?backUrl=@Model.BackUrl" enctype="multipart/form-data" method="post" class="border-info" role="form">
  <div class="row">
    <div class="col-md-4">
      <input asp-for="@Model.FormFile" type="file" class="btn-block btn-outline-info input-group input-group-text" /> <br />
    </div>
    <div class="col-md-5">
      <input name="@nameof(Model.Path)" type="text" class="input-group input-group-text" placeholder="Путь" />
    </div>
    <div class="col-md-3">
      <input type="submit" class="btn btn-outline-info btn-block" value="Загрузить" />
    </div>
  </div>
</form>