@model List<RzrSite.Models.Entities.FeatureType>
@{
  ViewData["Title"] = "Типы параметров, всё такое";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
  <table class="table flex-fill">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Название
        </th>
        <th>
          Действия
        </th>
      </tr>
    </thead>

    @foreach (var fType in Model)
    {
      <tr>
        <td>
          @fType.Id
        </td>
        <td>
          @fType.Name
        </td>
        <td>
          <a href="/FeatureType/@fType.Id/Edit">Редактировать</a>
          <a href="/FeatureType/@fType.Id/Remove">Удалить</a>
        </td>
      </tr>
    }
  </table>
  <div class="col-md-12">
    <form action="/FeatureType/Add" method="post">
      <div class="row">
        <div class="col-md-3 offset-6">
          <input type="text" class="form-control" name="Name" placeholder="Название" />
        </div>
        <div class="col-md-3">
          <input type="submit" class="btn btn-block btn-success" name="Добавить " />
        </div>
      </div>
    </form>
  </div>
</div>