@model List<RzrSite.Models.Responses.ProductLine.ProductLineDocument>

@foreach (var document in Model)
{
    <div class="row">
        <div class="col-md-2">
            @document.Description
        </div>
        <div class="col-md-3">
            <a asp-action="Edit" asp-controller="Document" asp-route-id="@document.Id">Редактировать</a>
        </div>
        <div class="col-md-2">
            <a asp-action="Delete" asp-controller="Document" asp-route-id="@document.Id">Удалить</a>
        </div>
    </div>
    <hr />
}