@model RzrSite.Admin.ViewModels.File.AddViewModel

<form asp-controller="Files" asp-action="Add" enctype="multipart/form-data" method="post" class="border-info" role="form">
  <input asp-for="@Model.FormFile" type="file" class="btn-block btn-outline-info" /> <br />
  <input type="submit" class="btn btn-outline-info btn-block" value="Загрузить" />
</form>

