@{
  ViewData["Title"] = "Глагне";
}

<div class="text-center">
  <h1 class="display-4">Добро пожаловать на глагне, боец!</h1>
  <p class="badge-danger">Тут когда-нибудь будет что-то полезное, но пока-что здесь просто УП4К</p>
  <p>Возможно мы сюда будем вливать статистику или что-то подобное</p>
  <p>Чтобы подредачить контент на сайте - используй правый верхний угол</p>
</div>
